.list {
    display:  flex;
    margin-left:5px;
    background-color: rgb(2, 144, 252) !important;
}

.listItem {
    background-color: rgb(2, 144, 252) !important;
    padding-right:50px;
    margin-top: 30px;
    list-style: none;
}

/* .listItem:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness:2px;
} */